<footer class="footer--part" id="contactPage">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-4">
				<div class="footer--text--area">
					<h5 class="footer--title dancing--script">Contact</h5>
					<div class="mt-2 footer--subtitle">
							<p><i class="fa fa-home me-1"></i>
								Kolkata, India, SaltLake
							</p>
							<p><i class="fa fa-envelope me-1"></i>
								foodhut@yahoo.com
							</p>

							<p><i class="fa fa-phone me-1"></i>
								+91 009-334-878
							</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4">
				<div class="footer--text--area">
				<h5 class="footer--title dancing--script">FoodHut</h5>
				<p class="footer--subtitle">
				At FoodHut, savor the symphony of spices in every bite, where each dish tells a tale of culinary delight.
				</p>
				<div class="footer--social--links">
					<a href="">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="">
						<i class="fab fa-instagram"></i>
					</a>

					<a href="">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="">
						<i class="fab fa-linkedin"></i>
					</a>
				</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="footer--text--area">
				<h5 class="footer--title dancing--script">Opening Hours</h5>
				<p class="footer--subtitle">
				8.00 AM - 8.00 PM
				</p>
				</div>
			</div>
		</div>

		<div class="footer--tail">
		<p class=""> &copy; Copyright <span id="year"></span>FoodHut. All rights reserved. Designed & Developed By <a href="https://github.com/latnuk-mate" class="text-decoration-none text-white-50" target="_blank">@latnuk-mate</a>.</p>
	</div>
	</div>

	
</footer>